---
import Container from "../components/container.astro";
import { baseUrl } from "../helper";
import MainLayout from "../layouts/main-layout.astro";

const response = await fetch(baseUrl + "/pages/112");
const page = await response.json();
---

<MainLayout pageTitle={page.title.rendered}>
  <Container>
    <h1>{page.title.rendered}</h1>
    <div class="flex flex-col gap-3" set:html={page.content.rendered} />
  </Container>
</MainLayout>
