---
import MainLayout from "../layouts/main-layout.astro";
import { baseUrl } from "../helper";
import Container from "../components/container.astro";
import Bg1 from "../components/backgrounds/1.astro";

const response = await fetch(baseUrl + "/pages/40");
const page = await response.json();
---

<MainLayout pageTitle={page.title.rendered}>
  <Container>
    <div class="flex w-full justify-between">
      <h1 class="w-1/2 text-left">Feedback</h1>
      <h1 class="hidden w-1/2 pr-3 text-right mobile:block">Contact us</h1>
    </div>
    <div class="flex flex-col justify-between gap-3 tablet:flex-row">
      <div
        class="z-20 flex w-full flex-col gap-y-3 tablet:w-1/2"
        set:html={page.content.rendered}
      />
      <h1 class="block w-1/2 mobile:hidden">Contact us</h1>
      <div class="z-20 tablet:w-1/3">
        <form
          action="https://formspree.io/f/mjvqwoja"
          method="POST"
          class="flex flex-col"
        >
          <label>
            <span>First name *:</span>
            <input type="text" name="fname" required />
          </label>
          <label>
            <span>Last name:</span>
            <input type="text" name="lname" />
          </label>
          <label>
            <span>Email *:</span>
            <input type="email" name="email" required />
          </label>
          <label>
            <span>Phone</span>
            <input type="number" name="phone" />
          </label>
          <label>
            <span>Message *:</span>
            <br />
            <textarea name="message" rows="3" required></textarea>
          </label>
          <!-- your other form fields go here -->
          <button
            class="btn btn-sec ml-auto mr-3 mt-3 mobile:w-2/3"
            type="submit">Send</button
          >
        </form>
      </div>
    </div>
    <Bg1 />
  </Container>
</MainLayout>
