---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout pageTitle="Welcome">
	<h1 class="text-8xl font-bold text-pri">Swift Invoice</h1>
	<h2 class="text-accent">Invoices made easy</h2>
	<div class="flex flex-row gap-3">
		<button class="btn btn-sec">See more</button>
		<button class="btn btn-pri">Get started</button>
	</div>
</MainLayout>
