---
import MainLayout from "../layouts/main-layout.astro";
import Logo from "../components/logo.astro";
---

<MainLayout pageTitle="Welcome">
	<section>
		<div class="content">
			<div class="flex flex-col justify-center items-center">
				<Logo />
			</div>
			<h2 class="text-2xl mobile:text-4xl text-accent">
				Invoices made easy
			</h2>
			<div class="flex flex-row gap-3">
				<a href="#seemore"
					><button class="btn btn-lg btn-sec">See more</button></a
				>
				<a href="/getstarted"
					><button class="btn btn-lg btn-pri">Get started</button></a
				>
			</div>
		</div>
	</section>
	<section id="seemore" class="section-sec">
		<div class="content">
			<div class="mx-auto flex flex-col tablet:flex-row">
				<div class="w-full tablet:w-1/2 flex flex-col gap-3">
					<h1 class="text-3xl">What is Swift Invoice?</h1>
					<p>
						Swift Invoice is an outstanding software solution
						designed to simplify the process of creating invoices.
						With its user-friendly interface and comprehensive
						feature set, it ensures a seamless experience for
						everyone. It is compatible with multiple platforms,
						making it accessible and convenient for users across
						various devices and operating systems.
					</p>
					<span class="text-pri font-bold">
						Get more out of Swift Invoice with <a
							class="underline"
							href="#cloud">Swift Invoice cloud</a
						>
					</span>
				</div>
				<img class="w-full tablet:w-1/2" src="/images/home/easy.webp" />
			</div>
		</div>
	</section>
	<section>
		<div id="cloud" class="content">
			<h1 class="text-3xl">Swift Invoice Cloud</h1>
			<div class="mx-auto flex flex-col-reverse tablet:flex-row">
				<img
					class="w-full tablet:w-1/2"
					src="/images/home/cloud.webp"
				/>
				<div class="w-full tablet:w-1/2 flex flex-col pt-3 gap-3">
					<p>
						Our cloud service goes beyond simply backing up your
						profiles and invoices at an affordable price. It offers
						a multitude of benefits, including the ability to log in
						from multiple devices and seamlessly access your data.
						Say goodbye to the hassle of constantly sending files
						back and forth between your phone and laptop. Our cloud
						empowers you with the convenience of instant access and
						effortless synchronization across all your devices.
					</p>
					<a href="/cloud" class="mx-auto mobile:mx-0"
						><button class="btn btn-pri">See more</button></a
					>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
