@inherits LayoutComponentBase

<div class="flex sm:flex-row flex-col">
    <NavMenu />
    <div class="sm:ml-52"></div>
    <main class="flex flex-col items-center justify-center p-5 mx-auto min-h-[100vh] mt-10 sm:mt-0 sm:w-4/5">        
        @Body
    </main>
</div>
