@inherits LayoutComponentBase

<div class="flex sm:flex-row flex-col">
    <NavMenu />
    <div class="top-margin sm:ml-52 print:ml-0"></div>
    <main class="flex flex-col items-center print:items-start print:justify-start justify-center p-5 mx-auto min-h-[100vh] print:min-h-auto mt-10 print:mt-0 print:min-w-[100vw] sm:mt-0 sm:w-4/5">
        @Body
    </main>
</div>
