@inherits LayoutComponentBase

<div class="page flex sm:flex-row flex-col">
    <NavMenu />
    
        <main class="flex flex-col items-center justify-center p-5 min-h-full mx-auto">
            @Body
        </main>
    
</div>
