<nav class="flex flex-col bg-red-500 sm:h-[100vh] p-3">
    <a class="mb-5" href="/">SwiftInvoice</a>
    <a href="/showall">All Invoices</a>
    <a href="/support">Support</a>
    <button class="mt-auto" @onclick="closeApp">Quit</button>
</nav>

@code {
    void closeApp()
    {
        System.Environment.Exit(0);
    }
}
