---
import Logo from "../components/logo.astro";
---

<footer class="section-sec flex w-full flex-col justify-between p-5 text-pri">
  <div class="flex flex-row">
    <div class="flex w-1/2 justify-start">
      <a href="/"> <Logo /></a>
    </div>
    <div class="flex w-1/2 flex-col gap-3 text-right">
      <a href="/about">About</a>
      <a href="/getstarted">Get started</a>
      <a href="/support">Support</a>
      <a href="/contact">Contact</a>
    </div>
  </div>
  <div class="flex w-full items-center justify-center">
    <a class="text-center" href="https://www.azaber.com" target="_blank"
      >Made by 2023 Azaber</a
    >
  </div>
</footer>
