---
---

<nav class="flex flex-row justify-between w-full bg-pri text-white px-5 py-3">
    <div class="font-bold">
        <a href="/">Swift Invoice</a>
    </div>
    <div class="flex flex-row gap-3">
        <a href="/about">See more</a>
        <a href="/getstarted">Get started</a>
        <a href="/support">Support</a>
        <a href="/contact">Contact</a>
    </div>
</nav>
