---
---

<nav class="flex w-full flex-row justify-between bg-pri px-5 py-3 text-white">
  <div class="font-bold">
    <a href="/">Swift Invoice</a>
  </div>
  <div class="flex flex-row gap-3">
    <a href="/blog"><strong>Blog</strong></a>
    <a href="/about">About</a>
    <a href="/getstarted">Get started</a>
    <a href="/support">Support</a>
    <a href="/contact">Contact</a>
  </div>
</nav>
