@page "/"

<h1 class="page-heading text-center">Welcome to SwiftInvoice</h1>

<div class="flex items-center flex-col sm:flex-row gap-3">
    <a href="/showall"><button class="btn-pri">See all invoices</button></a>
    <a href="/newinvoice"><button class="btn-pri">Make new invoice</button></a>
</div>
