@page "/user"
@using System.Text.Json
@using System.Reflection
@using UniversalApp.Models
@using UniversalApp.Services
@using System.Diagnostics
@using BlazorInputFile

<h1 class="page-heading">Manage User</h1>

<form class="flex md:flex-row flex-col">
    <div class="flex flex-col gap-3">
        <span class="text-accent text-2xl font-bold mt-3 mb-[-1rem]">Required</span>
        <label class="flex flex-col">
            <span>Name:</span>
            <div class="flex flex-row gap-3">
                <input class="w-2/5" @bind="currentUser.FirstName" placeholder="First name" name="fname" type="text" />
                <input class="w-2/5" @bind="currentUser.LastName" placeholder="Last name" name="lname" type="text" />
            </div>
        </label>
        <label>
            <span>Business Name: </span>
            <input @bind="currentUser.BusinessName" name="business-name" type="text" />
        </label>
        <label>
            <span>Business Number:</span>
            <input @bind="currentUser.BusinessNumber" name="business-num" type="text" />
        </label>
        <label>
            <span>Business Logo Image:</span>
            <input @bind="currentUser.LogoPath" name="business-logo" type="text" />            
        </label>
        <img src="@currentUser.LogoPath" class="w-48 h-24" />
        
        <label>
            <span>Email:</span>
            <input @bind="currentUser.Email" name="email" type="email" />
        </label>
        <label>
            <span>Currency: </span>
            <input @bind="currentUser.Currency" name="currency" type="text" />
        </label>
        <label>
            <span>Bank Name:</span>
            <input @bind="currentUser.BankName" name="bankName" type="text" />
        </label>
        <label>
            <span>Bank Acc Number:</span>
            <input @bind="currentUser.BankAccNumber" name="bankAccNum" type="text" />
        </label>
        <label>
            <span>Branch Identifier:</span>
            <input @bind="currentUser.BranchIdentifier" name="branchIdentifier" type="text" />
        </label>
    </div>
    <div class="flex flex-col gap-3 pl-1">
        <span class="text-accent text-2xl font-bold mt-3 mb-[-1rem]">Optional</span>
        <label>
            <span>Phone</span>
            <input @bind="currentUser.Phone" name="phone" type="number" />
        </label>
        <label>
            <span>Website (include https://www.)</span>
            <br />
            <input @bind="currentUser.Website" name="website" type="website" />
        </label>
    </div>
</form>

<button class="btn-warn text-xl p-2 mt-3" @onclick="SaveUser">Save changes</button>

@code {
    private User currentUser = new User();
    private UserService userService = new UserService();
    private string imageDataUrl;

    protected override void OnInitialized()
    {
        currentUser = userService.dbGetUser(1);
        imageDataUrl = currentUser.LogoPath;
    }

    private void SaveUser()
    {
        userService.dbSaveUser(currentUser);
    }
}
