@page "/newinvoice"
@using UniversalApp.Models;
@using UniversalApp.Services;

<h1 class="page-heading">New Invoice</h1>

<form class="new-invoice mx-auto my-3 flex md:flex-wrap md:flex-row flex-col gap-3">
    <div class="md:w-2/5">
        <label>
            <span>Client name:</span>
            <input @bind="newInvoice.ClientName" name="client-name" type="text" />
        </label>
        <label>
            <span>Job name:</span>
            <input @bind="newInvoice.JobName" name="job-name" type="text" />
        </label>
        <hr />
        <label>
            <span>START date:</span>
            <input @bind="newInvoice.StartDate" name="start-date" type="datetime" />
        </label>
        <label>
            <span>END date:</span>
            <input @bind="newInvoice.EndDate" name="end-date" type="datetime" />
        </label>
        <label>
            <span>PAYMENT date:</span>
            <input @bind="newInvoice.PaymentDate" name="pay-date" type="datetime" />
        </label>
    </div>
    <div class="md:w-2/5">
        <label class="flex flex-col">
            <span>Job Description: </span>
            <textarea @bind="newInvoice.JobDescription" name="job-description" rows="10" cols="25"></textarea>
        </label>
    </div>
    <hr />
    <div>
        <!--Items section-->
        <div class="w-full flex flex-col p-3 border-pri border-2 rounded-md">
            <div class="w-full flex md:flex-row flex-col gap-3">
                <div class="flex flex-col w-1/5">
                    <span>Item name:</span>
                    <input class="border-2 border-pri rounded-sm" type="text" />
                </div>
                <div class="flex flex-col w-3/5">
                    <span>Description: </span>
                    <textarea class="border-2 border-pri rounded-sm" rows="2" cols="10"></textarea>
                </div>
                <div class="flex flex-col w-1/5">
                    <span>Price: </span>
                    <input class="border-2 border-pri rounded-sm" type="number" />
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-danger">Remove item</button>
                <button class="btn btn-sec">Add item</button>
            </div>
        </div>
        <!---->

    </div>
</form>

<button class="btn-suc text-xl px-4 py-2">Create Invoice</button>

<a href="/showall"><button class="btn-warn mt-3">Back</button></a>

@code {
    private InvoiceService invoiceService = new InvoiceService();
    private Invoice newInvoice = new Invoice();
    private List<Item> invoiceItems = new List<Item>();
       
    private UserService userService = new UserService();
    private User currentUser = new User();

    protected override void OnInitialized()
    {
        currentUser = userService.dbLoadUser();
        newInvoice.UserId = currentUser.UserId;
    }
}
