@page "/newinvoice"
@using UniversalApp.Models

<h1 class="page-heading">New Invoice</h1>

<form class="new-invoice my-3 flex md:flex-row flex-col gap-3">
    <div>
        <label>
            <span>Client name:</span>
            <input @bind="newInvoice.ClientName" name="client-name" type="text" />
        </label>
        <label>
            <span>Job name:</span>
            <input @bind="newInvoice.JobName" name="job-name" type="text" />
        </label>
        <hr />
        <label>
            <span>START date:</span>
            <input @bind="newInvoice.StartDate" name="start-date" type="datetime" />
        </label>
        <label>
            <span>END date:</span>
            <input @bind="newInvoice.EndDate" name="end-date" type="datetime" />
        </label>
        <label>
            <span>PAYMENT date:</span>
            <input @bind="newInvoice.PaymentDate" name="pay-date" type="datetime" />
        </label>
    </div>
    <div>
        <label class="flex flex-col">
            <span>Job Description: </span>
            <textarea @bind="newInvoice.JobDescription" name="job-description" rows="10" cols="25"></textarea>
        </label>
    </div>
</form>
<button class="btn-suc text-xl px-4 py-2">Create Invoice</button>

<a href="/showall"><button class="btn-warn mt-3">Back</button></a>

@code {
    private Invoice newInvoice = new Invoice();
}
