@page "/support"
@using UniversalApp.Shared.Components

<h1 class="page-heading">Support</h1>

<p>You can find all guides and tutorials on our website and YouTube channel.</p>

<SurveyComponent></SurveyComponent>