@using UniversalApp.Shared.Components

<div class="flex flex-col my-3 gap-3 items-center justify-center">
    <p>
        We value your feedback! If you have a feature request or have discovered a bug, we kindly request you to take a moment to complete our survey. Your input is essential in helping us enhance Swift Invoice to better meet your needs. Thank you for your participation!
    </p>
    <a href="https://forms.gle/3iJVL7cVY7iu3DXU9"><button class="btn-sec">Give feedback</button></a>
</div>

@code {

}