<div
  class="absolute bottom-0 left-0 right-0 top-10 z-0 mb-5 text-4xl text-accent opacity-20"
>
  <div class="m-auto flex h-full flex-col justify-between">
    <div class="flex w-full justify-between">
      <i class="fa-solid fa-print text-accent tablet:text-white"></i>
      <i class="fa-regular fa-file-linestext-white"></i>
      <i class="fa-regular fa-paste text-white tablet:text-accent"></i>
      <i class="fa-regular fa-folder text-white tablet:text-accent"></i>
      <i class="fa-solid fa-check"></i>
    </div>
    <div class="flex w-full justify-around">
      <i class="fa-regular fa-handshake text-white tablet:text-accent"></i>
      <i class="fa-regular fa-file-pdf text-white tablet:text-accent"></i>
      <i class="fa-regular fa-pen-to-square text-white"></i>
      <i class="fa-solid fa-calculator text-white"></i>
    </div>
    <div class="flex w-full justify-between">
      <i class="fa-regular fa-pen-to-square"></i>
      <i class="fa-solid fa-print text-white"></i>
      <i class="fa-solid fa-percent text-white"></i>
      <i class="fa-solid fa-paperclip text-white tablet:text-accent"></i>
      <i class="fa-solid fa-arrow-up-from-bracket"></i>
    </div>
    <div class="flex w-full justify-around">
      <i class="fa-solid fa-file-invoice text-accent tablet:text-white"></i>
      <i class="fa-regular fa-copy"></i>
      <i class="fa-solid fa-percent"></i>
      <i class="fa-solid fa-paperclip"></i>
    </div>
    <div class="flex w-full justify-between">
      <i class="fa-solid fa-calculator"></i>
      <i class="fa-regular fa-folder"></i>
      <i class="fa-solid fa-file-invoice"></i>
      <i class="fa-regular fa-paste"></i>
      <i class="fa-regular fa-copy"></i>
    </div>
  </div>
</div>
