<div
  class="absolute bottom-0 left-0 right-0 top-0 z-0 text-4xl text-accent opacity-20"
>
  <i class="fa-regular fa-file-lines absolute left-12 top-10 rotate-45"></i>
  <i
    class="fa-regular fa-pen-to-square absolute bottom-10 right-12 rotate-[-30deg]"
  ></i>
  <i class="fa-solid fa-file-invoice absolute bottom-14 rotate-[20deg]"></i>
</div>
