<div
  class="absolute bottom-0 left-0 right-0 top-0 z-0 text-4xl text-accent opacity-20"
>
  <i class="fa-solid fa-file-invoice absolute left-6 top-10"></i>
  <i class="fa-solid fa-print absolute right-[40vw] top-12"></i>
  <i class="fa-regular fa-pen-to-square absolute bottom-10 right-12"></i>
  <i class="fa-solid fa-paperclip absolute left-10 top-[40vh]"></i>
  <i class="fa-regular fa-file-lines absolute bottom-14 left-24"></i>
  <i class="fa-regular fa-copy absolute bottom-[40vh] right-0"></i>
  <i class="fa-regular fa-folder absolute right-14 top-10"></i>
  <i class="fa-solid fa-calculator absolute bottom-12 right-[50vw]"></i>
  <i class="fa-solid fa-percent absolute left-[20vw] top-8"></i>
  <i class="fa-regular fa-paste absolute left-[30vw] top-[20vh]"></i>
  <i class="fa-regular fa-calendar-days absolute bottom-[5vh] right-[20vw]"></i>
  <i class="fa-regular fa-file-pdf absolute right-[20vw] top-[10vh]"></i>
</div>
