<div
  class="absolute bottom-0 left-0 right-0 top-10 z-0 text-4xl text-accent opacity-20"
>
  <div class="m-auto flex flex-col">
    <div class="flex w-full justify-between">
      <i class="fa-solid fa-file-invoice"></i>
      <i class="fa-solid fa-print text-white mobile:text-accent"></i>
      <i class="fa-regular fa-pen-to-square text-white mobile:text-accent"></i>
      <i class="fa-solid fa-paperclip text-white mobile:text-accent"></i>
      <i class="fa-regular fa-file-lines"></i>
    </div>
    <div class="mt-20 flex w-full justify-around">
      <i class="fa-regular fa-copy"></i>
      <i class="fa-regular fa-folder text-white mobile:text-accent"></i>
      <i class="fa-solid fa-calculator text-white mobile:text-accent"></i>
      <i class="fa-solid fa-percent"></i>
    </div>
    <div class="mt-20 flex w-full justify-between">
      <i class="fa-regular fa-file-pdf"></i>
      <i class="fa-solid fa-print tablet:text-white"></i>
      <i class="fa-regular fa-pen-to-square"></i>
      <i class="fa-solid fa-paperclip"></i>
      <i class="fa-regular fa-handshake"></i>
    </div>
    <div class="mt-20 flex w-full justify-around">
      <i class="fa-regular fa-paste"></i>
      <i class="fa-solid fa-calculator text-white mobile:text-accent"></i>
      <i class="fa-solid fa-percent text-white mobile:text-accent"></i>
      <i class="fa-regular fa-folder"></i>
    </div>
    <div class="mt-20 flex w-full justify-between">
      <i class="fa-solid fa-check"></i>
      <i class="fa-solid fa-arrow-up-from-bracket"></i>
      <i class="fa-solid fa-list"></i>
      <i class="fa-solid fa-percent"></i>
      <i class="fa-regular fa-paste"></i>
    </div>
  </div>
</div>
